.card {
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  max-width: 800px;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1em;
}
.card-main {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}
.card-user {
  margin-bottom: 0;
  font-weight: bold;
}
.interact-icons {
  display: flex;
}
.interact-icon {
  margin-right: 1em;
  color: #b0b0b0;
}
.share-icon {
  transform: scaleX(-1);
}

.card-response-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-btn {
  display: flex;
  background: none;
  border: 0;
  color: #b0b0b0;
}
.card-btn:hover {
  cursor: pointer;
}
.card-btn-text {
  margin-right: 1em;
}
.card-btn-icon {
  font-size: 1em;
}
.card-tag {
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  padding: 0.15em 2em;
  border-radius: 20px;
  color: white;
}

.replies {
  padding: 0 18px;
  /* display: none; */
  overflow: hidden;
  background-color: #f1f1f1;
}
