/* Card section 
===============================================
*/

.card-container {
  border: 1px solid #e0e0e0;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  border-radius: 15px;
  display: flex;
  padding: 1em;
  justify-content: space-between;
}
.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1em;
}
.card-main {
  margin-right: auto;
}
.card-user {
  margin-bottom: 0;
  font-weight: bold;
}
.interact-icons {
  display: flex;
}
.interact-icon {
  margin-right: 1em;
  color: #b0b0b0;
}
.interact-icon:hover {
  cursor: pointer;
}
.fa-share {
  transform: scaleX(-1);
}
.dropdown-btn-container {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-btn {
  display: flex;
  background: none;
  border: 0;
  color: #b0b0b0;
}
.card-btn:hover {
  cursor: pointer;
}
.card-btn-icon {
  margin-left: 0.55em;
  font-size: 1em;
}
.card-btn-rotate {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
}
.card-tag {
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  padding: 0.15em 2em;
  border-radius: 20px;
  color: white;
}

/* Reply section
===============================================
*/
.reply-container {
  margin-bottom: 1em;
  display: flex;
  max-height: 0;
  overflow: hidden;
}
.reply-container .card::before {
  content: "";
  width: 1px;
  height: 150px;
  background: #e0e0e0;
}
.reply-container .card {
  margin-left: 4em;
}
.reply-container .card-btn-text {
  color: #b0b0b0;
}

.card-time-text-container {
  margin-top: 1em;
  margin-right: 2.3em;
  display: flex;
  color: #b0b0b0;
}
.card-time-text-container span {
  margin-left: 0.25em;
}

/* Modal section
===============================================
*/
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  border-radius: 1em;
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
  top: 30%;
  text-align: center;
}
.modal-btn {
  background-color: #b0b0b0;
  border: 1px solid #b0b0b0;
  padding: 0.15em 2em;
  border-radius: 20px;
  color: white;
  background-color: #834bca;
}

.modal-share-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-share-item {
  margin: 0 0.5em;
}
.modal-img {
  width: 2.5em;
  height: 2.5em;
}
.modal-img:hover {
  cursor: pointer;
}
